@font-face {
  font-family: 'Poppins';
  src: url(../public/fonts/Poppins-Light.ttf) format('truetype'),
    url(../public/fonts/Poppins-Medium.ttf) format('truetype'),
    url(../public/fonts/Poppins-Regular.ttf) format('truetype'),
    url(../public/fonts/Poppins-SemiBold.ttf) format('truetype');
}

.wrapper {
  width: 595px;
  background-color: black;
  margin: auto;
  padding: 12px;
}

.contacs,
.job,
.skils,
.portfolio {
  display: flex;
  width: 508px;
  background-color: rgb(47, 46, 46);
  border-radius: 24px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
  padding: 24px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.imgfoto {
  background-image: url('../public/assets/IMG_8349.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.info h1 {
  color: var(--White, #F5F8FF);
  font: 900 24px 'Poppins';
}

.info p {
  color: var(--White, #F5F8FF);
  font: 600 12px 'Poppins';
}

.title {
  color: var(--White, #F5F8FF);
  align-items: flex-start;
  font: 900 16px 'Poppins';
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 16px;
  padding-left: 45px;
}

.job h1 {
  color: var(--White, #F5F8FF);
  font: 500 16px 'Poppins';
}

.job h2 {
  color: var(--White, #F5F8FF);
  font: 500 10px 'Poppins';
}

.job p {
  color: var(--White, #F5F8FF);
  font: 300 10px 'Poppins';
}

.skils p {
  color: var(--White, #F5F8FF);
  font: 300 10px 'Poppins';
}

.educationLanguage {
  display: flex;
  width: 500px;
  margin: auto;
  gap: 30px;
  margin-top: 16px;
}

.educationBlock,
.languageBlock {
  display: flex;
  width: 200px;
  background-color: rgb(47, 46, 46);
  border-radius: 24px;
  background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
  padding: 24px;
  margin-bottom: 16px;
  align-items: flex-start;
  gap: 10px;
}

.education,
.language {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.education p,
.language p {
  color: var(--White, #F5F8FF);
  font: 400 12px 'Poppins';
}

.imgEducation {
  background-image: url('../public/assets/Icon\ \(3\).svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.imgLanguage {
  background-image: url('../public/assets/Icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.qr {
  background-image: url('../public/assets/qr.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 12px;
}

.infoPortfolio h1 {
  color: var(--White, #F5F8FF);
  font: 600 14px 'Poppins';
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}

.infoPortfolio a {
  color: var(--gray, #C2C2C2);
  font: 300 12px 'Poppins';
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}